<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sfadasdurablefunctionpoc20200915105932.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4955980f-37fc-47db-8736-c0febcc60d33/resourcegroups/SFADASDurableFunctionPOC20200915105932ResourceGroup/providers/Microsoft.Web/sites/SFADASDurableFunctionPOC20200915105932</ResourceId>
    <UserName>$SFADASDurableFunctionPOC20200915105932</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://sfadasdurablefunctionpoc20200915105932.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>